NEXT_PUBLIC_SUPABASE_URL="NEXT_PUBLIC_SUPABASE_URL=https://mtlcjlzhurycelzybfxn.supabase.co
"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10bGNqbHpodXJ5Y2VsenliZnhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MDA3MTIsImV4cCI6MjA5MDM3NjcxMn0.qB0WhFn-BW5hzSfh41HpuMH3MGgWT6w_mxe_uEtle3g"
